<div id="add-form-container" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Preencha o furmulário para divulgar a vaga</h1>
        </div>
        <div id="form-box" class="col-md-12">
            <h2>Seja específico no preenchimento de dados, para facilitar o preenchimento da vaga!</h2>
            <form action="/jobs/add" method="POST">
                <div class="form-group">
                    <label for="title">Título da vaga:</label>
                    <input type="text" placeholder="Insira o título da vaga" class="form-control" id="title" name="title" required>
                    <small id="titleHelp" class="form-text text-mute">O título é muito importante, seja claro e objetivo.</small>
                </div>
                <div class="form-group">
                    <label for="description">Descrição da vaga:</label>
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Descreva as atividades referentes ao cargo..." required></textarea>
                </div>
                <div class="form-group">
                    <label for="company">Empresa contratante:</label>
                    <input type="text" placeholder="Insira a empresa que vai contratante" class="form-control" id="company" name="company" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail para contato:</label>
                    <input type="email" placeholder="Informe o E-mail para contato" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="salary">Salário oferecido:</label>
                    <input type="text" placeholder="Digite o salário da vaga" class="form-control" id="salary" name="salary" required>
                </div>
                <input type="hidden" name="new_job" value="1">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>